<%
locals.OLSKPageTitle = OLSKLocalized('JBXVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('JBXVitrineDescription');
locals.OLSKPageManifest = OLSKCanonical('JBXManifestRoute');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<div class="JBXVitrine OLSKDecor OLSKDecorCapped OLSKDecorNoTopPad">	

<%- include('../../node_modules/OLSKCrown/main.ejs', {
	OLSKCrownCardImageURL: '/_shared/JBXRootLink/ui-assets/identity.svg',
	OLSKCrownCardNameText: OLSKLocalized('JBXVitrineTitle'),
}) %>

<%- include('../../node_modules/OLSKLanding/main.ejs', {
	OLSKLandingHeadingText: OLSKLocalized('JBXVitrineDescription'),
	OLSKLandingBlurbText: OLSKLocalized('OLSKLandingBlurbText'),
	OLSKLandingActionText: OLSKLocalized('OLSKWordingOpenApp'),
	OLSKLandingActionHref: OLSKCanonicalLocalized('JBXPlayRoute'),
}) %>

<div class="OLSKCommonVideoList">
	<p class="JBXVitrineVideo OLSKCommonVideoListItem">
		<iframe src="<%= process.env.JBX_VITRINE_VIDEO_URL %>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</p>
</div>

<h1 class="JBXVitrineFeaturesHeading"><%= OLSKLocalized('OLSKWordingFeatures') %></h1>

<%- include('../../node_modules/OLSKAppFeatureList/main.ejs', {
	OLSKAppFeatureListRepoURL: process.env.OLSK_REPO_URL,
}).replace(/node_modules/g, '_shared/__external') %>

<a class="JBXVitrineGuideButton OLSKDecorPress OLSKDecorPressCall" href="<%= OLSKCanonical('JBXGuideRoute') %>"><%= OLSKLocalized('OLSKWordingOpenGuide') %></a>

<h1 class="JBXVitrineDeeperHeading"><%= OLSKLocalized('OLSKWordingDeeperHeading') %></h1>

<dl class="JBXVitrineGlossary OLSKDecorGlossary">
	<dt><a class="JBXVitrineGlossaryFleetingArrivalsLink" href="<%= process.env.JBX_VITRINE_FLEETING_ARRIVALS_URL %>" target="_blank">Fleeting Arrivals</a></dt>
	<dd class="JBXVitrineGlossaryFleetingArrivalsBlurb"><%= OLSKLocalized('JBXVitrineGlossaryFleetingArrivalsBlurbText') %></dd>
	<dt><a class="JBXVitrineGlossaryWetwareLink" href="<%= process.env.JBX_VITRINE_WETWARE_URL %>" target="_blank" lang="en">Wetware</a></dt>
	<dd class="JBXVitrineGlossaryWetwareBlurb"><%= OLSKLocalized('JBXVitrineGlossaryWetwareBlurbText') %></dd>
	<%- include('../../node_modules/ROCOGlossary/main.ejs') %>
</dl>

<script src="https://pkg.rosano.ca/gazette/master/main.js" data-gazette></script>

<script src="https://pkg.rosano.ca/feedbox/master/main.js" data-feedbox></script>

<%- include('../../node_modules/OLSKEdit/main.ejs', {
	OLSKEditURL: process.env.OLSK_REPO_URL,
}) %>

<h1 class="JBXVitrineSupportHeading"><%= OLSKLocalized('OLSKWordingFeedbackHeading') %></h1>
<p class="JBXVitrineSupportBlurb"><%= OLSKLocalized('OLSKWordingFeedbackBlurb') %></p>

<hr role="presentation" />

<%- include('../../node_modules/SWARLink/main.ejs') %>

<hr role="presentation" />

<%- include('../../node_modules/ROCORootLink/main.ejs') %>

</div>
